
img {
	border:2px solid black;
	border-radius: 100%;
	height:300px;
	width:300px;
	box-shadow: 0px 15px 30px black;
	-moz-transition:1s;
	-webkit-transition: 1s;

}

img:hover{
	height:375px;
	width:375px;
	border:none;
	box-shadow: none;	
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	cursor:pointer;

	

}

h1 {
	color:#a2e076;
	text-align: center;
	margin-bottom:100px;
	margin-top:50px;	
	font-size:5em;
}

html {
	background-color:#ff703e;
	font-family: Verdana;
}

.left {	
	position:relative;
	float:left;	
	margin-left:200px;	
}

.right {
	position:relative;
	float:right;
	margin:60px 200px 0 0;	
}

.one {
	height:400px;
	position:relative;

}

.why {
	margin-right:245px;
}


.ingre {
	margin-right:440px;
}

.direc {
	margin-right:180px;
}

.underline {
	text-decoration: line-through;
	color:red;
}

li:hover {
	background-color:white;
	cursor: pointer
}



